
<% if logged_in?  && party.restaurant.users.include?(current_user) %>
<tr id="party-<%= party.id %>">
  <td class="partyContent"><%= party.token %></td>
  <td class="partyContent"><%= party.name %></td>
  <td class="partyContent"><%= party.size %></td>
  <td class="partyContent"><%= party.phone %></td>
  <td class="timestamp">
    <%= time_ago_in_words(party.created_at) %>
  </td>
  <td class="restaurant"><%= link_to party.restaurant.name, party.restaurant %></td>
  <td><%= link_to 'Edit', edit_party_path(party) %></td>
  <td><%= link_to 'Seat/Delete', id: party.id, controller: "parties", method: :get, action: :table_ready, data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to 'Notify', id: party.id, controller: "parties", method: :get, action: :notify, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% else %>
<tr id="party-<%= party.id %>">
  <td class="partyContent"><%= party.size %></td>
  <td class="timestamp">
    <%= time_ago_in_words(party.created_at) %>
  </td>
</tr>
<% end %>