<% provide(:title, @user.name) %>
<div class = "seatpop_image">
  <div class="center site-header">
    <%= "#{$site_name}" %>
  </div>
   <br>
    <div class="center welcome-user">Welcome 
        <%= @user.name %></div>
</div>

<div>
  
<p id="notice"><%= notice %></p>
<h1>My Restaurants</h1>


<%= will_paginate @restaurants %>
  <%= render @restaurants %>

<%= will_paginate @restaurants %>
</div>