<li id="party-<%= party.id %>">
  <span class="restaurant"><%= link_to party.restaurant.name, party.restaurant %></span>
  <span class="partyContent"><%= party.name %></span>
  <span class="partyContent"><%= party.size %></span>
  <span class="partyContent"><%= party.phone %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(party.created_at) %> ago.
  </span>
</li>