<div class="box">
  <span class="restaurant-image"><%= image_tag(restaurant.picture.small.url, width: "200", class: "img-thumbnail") if restaurant.picture? %></span>
  <span class="restaurant-name"><%= restaurant.name %></span>
  <span class="restaurant-waittime"><%= distance_of_time_in_words(restaurant.est_wait_time) if restaurant.est_wait_time %></span>
  <span class="restaurant-waittime"><%= "No wait!" if !restaurant.est_wait_time %></span>
  <% if logged_in? && current_user.admin?  %>
  <td><%= restaurant.description %></td>
  <td><%= link_to 'Show', restaurant %></td>
  <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
  <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</div>
