<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<div>
<%= link_to 'Add New Restaurant', new_restaurant_path, class: "btn btn-primary"  %>
</div>
<div>
<%= will_paginate %>
  <%= render @restaurants %>
<%= will_paginate %>
</div>