<% provide(:title, @restaurant.name) %>
<% provide(:restaurant_id, params[:id]) %>

<script >
$("body").css("background-image","url('<%= @restaurant.picture.url if @restaurant.picture? %>')");
</script>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @restaurant.name %>
      </h1>
      
    </section>
<% if logged_in?  && @restaurant.users.include?(current_user) %>

    
    <span><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></span>
    <span><%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <div class="row">
      <section class="party_form">
        <%= render 'shared/party_form' %>
      </section>
    </div>
      
    <%= image_tag(@restaurant.picture.small.url, width: "300") if @restaurant.picture? %>
  </aside>
  <div class="col-md-8">
    <% if @restaurant.parties.any? %>
      <h3>Waitlist (<%= @restaurant.waitlist.count %>)</h3>
      
      <%= render 'shared/waitlist' %>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @restaurant.parties.any? %>
      <h3>Seated Parties (<%= @restaurant.seatlist.count %>)</h3>
      
      <%= render 'shared/seatlist' %>
    <% end %>
  </div>
</div>
<%else %>
   <%= image_tag(@restaurant.picture.small.url, width: "300") if @restaurant.picture? %>
  </aside>
  <div class="col-md-8">
    <% if @restaurant.parties.any? %>
      <h3>Waitlist</h3>
      
      <%= render 'shared/waitlist' %>
    <% end %>
  </div>
    <% end %>
    
    