<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
<strong>Users:</strong>
<br>
<% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if user.admin? %>
        	<td>admin</td>
        <% end %>        
      </tr>
<% end %>
</p>

<hr>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'List', restaurants_path %>
